**__pycache__**
cherryml/counting/_count_co_transitions
cherryml/counting/_count_transitions
cherryml/estimation/historian/
cherryml/estimation/xrate/
cherryml/phylogeny_estimation/FastTree
cherryml/phylogeny_estimation/phyml_github/
cherryml/simulation/simulate
cherryml/_siterm/_maximum_parsimony/maximum_parsimony
cherryml/.DS_Store
cherryml/_siterm/fast_site_rates.cpp
cherryml/_siterm/fast_site_rates.cp**
cherryml/phylogeny_estimation/FastCherries/build/
cherryml/phylogeny_estimation/bin/
images/
neurips_figures/
qmaker_paper_data/
tests/phylogeny_estimation_tests/pairing_ble_test_likelihoods/
tests/phylogeny_estimation_tests/pairing_ble_test_site_rates/
tests/phylogeny_estimation_tests/pairing_ble_test_trees/

*.o
build/*
*__pycache__*
_cache_lg_paper/*
_cache_benchmarking_qmaker/*
__pycache__
*.pyc
*.success
*.newick
*.profiling
data/*
*.txt
input_data

.DS_Store
_cache_benchmarking_em/*
